/* start of cart */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: var(--secondary_color_opacity);
    z-index: 2;
    visibility: hidden;

    &__show {
        visibility: visible;
    }
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 3;
    background: var(--main_color_dark);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);

    &__show {
        transform: translateX(0);
    }

    &__closebtn {
        font-size: 35px !important;
        cursor: pointer;
    }

    &__title {
        text-transform: capitalize;
        font-size: 2rem;
        text-align: center;
        letter-spacing: var(--mainSpacing);
        margin-bottom: 2rem;
        color: var(--text_color_dark);
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid purple; */
        margin: 20px 0;

        &__total {
            font-size: 22.5px;
            margin-bottom: 15px;
            // border: 2px solid green;
        }

        &__buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            // border: 2px solid green;
            width: 100%;
        }
        &__clearbtn {
            &__icon {
                position: relative;
                color: var(--main_color_dark) !important;
                font-size: 27.5px !important;
            }
            &:hover &__icon {
                    color: var(--color_red) !important;
            }
        }
        &__completebtn {
            &__icon {
                position: relative;
                color: var(--main_color_dark) !important;
                font-size: 27.5px !important;
            }
            &:hover &__icon {
                    color: var(--secondary_color) !important;
            }
        }
    }
}
// Hago que en desktop no ocupe toda la pantalla.
@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}
/* end of cart */

/* cart Item */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    // border: 2px solid orange;

    img {
        width: 100px;
        height: 100px;
    }
    &__stats {
        // border: 2px solid red;
        height: auto;
        display: grid;
        align-items: center;
        justify-content: start;
        row-gap: 0.3rem;
    }
    &__name {
        font-size: 1.2rem;
        text-transform: capitalize;
        letter-spacing: var(--mainSpacing);
    }
    &__price {
        // margin: 0.3rem 0;
        // padding-bottom: 0.2rem;
        letter-spacing: var(--mainSpacing);
        font-size: 1.2rem;
    }
    &__amount {
        text-align: center;
        font-size: 20px;
    }
    &__remove {
        font-family: Kanit;
        padding: 2px 0px !important;
        width: 70px;
        font-size: 15px !important;
    }
}
/* end of cart item*/
