/* icons */
.material-icons-round {
    color: var(--icons_color_dark);
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    transition: 0.2s;
    &:hover {
        color: var(--secondary_color);
    }
    &.gaming-btn {
        font-size: 35px;
    }
    &.cart-amount-icon {
        color: var(--color_black);
        font-size: 40px;
        &:hover {
            color: var(--secondary_color);
        }
    }
    &.not-found__icon {
        margin-top: 20px;
        font-size: 80px;
    }
}

/* this is to make an image(png) icon look like the material ones. */
/* used png because the picaxe icon is custom made. */
.icon-image {
    height: 23px;
    width: 23px;
    filter: invert(100%);
    position: relative;
    top: -6px;
    /* filters generated to simulate the --secondary_color color. */
    /* url of the tool: https://codepen.io/sosuke/pen/Pjoqqp */
    &:hover {
        filter: invert(62%) sepia(83%) saturate(1066%) hue-rotate(357deg) brightness(98%) contrast(108%);
    }
}
/* end of icons */

/* start of brand icons */
.brand-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    left: -4px;
}
.header__AMD {
    color: rgba(255, 0, 0, 0.7);
}
.header__NVIDIA {
    color: rgba(127, 255, 0, 0.7);
}
/* End of brand icons*/

// Start of buttons
$colors: (
    red: var(--color_red),
    purple: var(--color_purple),
    orange: var(--secondary_color),
    white: var(--text_color_dark),
);

@each $colorname, $color in $colors {
    .coolButton--#{$colorname} {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: none;
        color: var(--text_color_dark);
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid var(--text_color_dark);
        font-size: 16px;
        cursor: pointer;

        &:hover {
            color: $color;
            border: 2px solid $color;
            box-shadow: 0px 0px 5px $color;
        }
    }
}

@each $colorname, $color in $colors {
    .coolButton2--#{$colorname} {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: $color;
        color: var(--main_color_dark);
        padding: 10px 12.5px;
        padding-left: 7px;
        border-radius: 4px;
        border: 2px solid $color;
        font-size: 20px;
        // height: 50px;
        cursor: pointer;

        &:hover {
            color: $color;
            background: transparent;
            border: 2px solid $color;
            box-shadow: 0px 0px 5px $color;
        }
    }
}

@each $colorname, $color in $colors {
    .coolButton3--#{$colorname} {
        display: flex;

        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        color: $color;
        background: transparent;
        border: 2px solid $color;
        box-shadow: 0px 0px 5px $color;
        padding: 10px 12.5px;
        padding-left: 7px;
        border-radius: 4px;
        font-size: 17.5px;
        // height: 50px;
        cursor: pointer;

        &:hover {
            background: $color;
            color: var(--main_color_dark);
            border: 2px solid $color;
        }
    }
}

//end of buttons

// start of whatsapp
.whatsapp__container {
    position: fixed;
    right: 1.2rem;
    bottom: 1.2rem;
    z-index: 2;
    .whatsapp {
        &__icon {
            // background-color: green;
            color: white;
            height: 50px;
            width: 50px;
        }
        &__text {
            display: none;
            color: black;
            text-align: center;
            background-color: white;
            text-decoration: none;
            position: absolute;
            font-family: Kanit;
            width: 10rem;
            padding: 0.6rem 0.3rem;
            border-radius: 0.3rem;
            top: 0.8rem;
            right: 5rem;
            font-weight: 300;
            &__pointer {
                background-color: white;
                width: 1rem;
                height: 1rem;
                position: absolute;
                right: -0.3rem;
                transform: rotate(45deg);
            }
        }
    }
}
@media (min-width: 800px) {
    .whatsapp__container {
        right: 2rem;
        bottom: 2rem;
        .whatsapp {
            &__icon {
                height: 55px;
                width: 55px;
            }
            &:hover .whatsapp__text {
                display: inline-block;
            }
        }
    }
}
//end of whatsapp
