:root {
  --main_color_dark: rgba(32, 34, 49, 0.97);
  --icons_color_dark: rgba(255, 255, 255, 1);
  --text_color_dark: white;

  --secondary_color: rgb(255, 165, 0);
  --secondary_color_opacity: rgb(255, 165, 0, 0.3);
  --color_red: hsl(356, 100%, 45%);
  --color_purple: rgba(80, 0, 237);

  --navbar_height: 70px;

  --mainTransition: all 0.3s linear;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Kanit;
  user-select: none;
}

/* temporal default area: defualt style for my components */
.defaultArea {
  color: white;
  background: var(--main_color_dark);
  font-size: 30px;
  display: grid;
  justify-content: center;
  align-content: center;
}
/* end of temporal default area */

/* body */
body {
  position: relative;
  background: var(--main_color_dark);
  display: grid;
  grid-template-rows: auto 5px auto 5px 200px 20px auto auto 200px;
  grid-template-areas:
    "navbar"
    "."
    "searchbar"
    "."
    "carrousel"
    "."
    "pre-cards"
    "cards"
    "footer";
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/wallpaper.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: opacity(1);
  z-index: -1;
}
/* end of body */

/* navbar */
.navbar-container {
  grid-area: navbar;
  position: sticky;
  top: 0;
  height: var(--navbar_height);
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}
.navbar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
/* Agrupo el titulo con el buscador para desktop */
.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
  width: 100%;
  max-width: 80%;
}
.title {
  font-size: 35px;
  position: relative;
  top: -2px;
  color: var(--secondary_color);
}
.cart-btn {
  position: relative; /*posicionado para el hijo.*/
}
.cart-items {
  position: absolute;
  background: var(--secondary_color);
  font-family: Kanit;
  font-size: 16px;
  font-weight: 500;
  width: 22px;
  height: 22px;
  padding: 2px;
  top: -10px;
  right: -9px;
  border-radius: 50%;
  color: var(--main_color_dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
/* end of navbar */

/* searchbar */
.searchbar-container {
  grid-area: searchbar;
  /* border: 3px solid yellow; */
  width: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}
.searchbar {
  /* border: 3px solid purple; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 10px 0;
}
.search-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  max-width: 500px;
  border: none;
  outline: none;
  margin-right: 3px;
}
.searchbar-mobile {
  display: flex;
}
@media (min-width: 800px) {
  body {
    grid-template-rows: auto 5px auto 5px 200px 20px auto auto 200px;
    grid-template-areas:
      "navbar"
      "."
      "searchbar"
      "."
      "carrousel"
      "."
      "pre-cards"
      "cards"
      "footer";
  }
  .searchbar-container {
    display: flex;
    /* Controlo el maximo del searchbar en desktop*/
    max-width: 550px;
  }
  .searchbar-mobile {
    display: none;
  }
  .searchbar {
    width: 100%;
  }
  .search-input {
    max-width: none;
  }
  .title {
    padding-right: 2vw;
  }
}
/* end of searchbar */

/* icons */
.material-icons-round {
  font-size: 30px;
  cursor: pointer;
}
.material-icons-round,
.card-buttons-container .material-icons-round {
  background: none;
  cursor: pointer;
  border: none;
  color: var(--icons_color_dark);
  font-size: 35px;
  transition: color 0.2s;
}
.material-icons-round:hover {
  color: var(--secondary_color);
}

/* this is to make an image(png) icon look like the material ones. */
/* used png because the picaxe icon is custom made. */
.icon-image {
  height: 24px;
  width: 24px;
  filter: invert(100%);
  position: relative;
  top: -6px;
}

/* filters generated to simulate the --secondary_color color. */
/* url of the tool: https://codepen.io/sosuke/pen/Pjoqqp */
.icon-image:hover {
  filter: invert(62%) sepia(83%) saturate(1066%) hue-rotate(357deg)
    brightness(98%) contrast(108%);
}
/* end of icons */

/* carrousel */
.carrousel {
  grid-area: carrousel;
}
/* end of carrousel */

/* precards */
.pre-cards {
  grid-area: pre-cards;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  /* border: 2px solid red; */
}
.selector-container {
  color: var(--text_color_dark);
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 900px) {
  .pre-cards {
    flex-direction: column;
  }
  .selector-container {
    flex-direction: row;
  }
}
.selector-container h3 {
  font-family: Kanit;
  color: var(--text_color_dark);
  font-size: 22px;
  padding: 0 5px;
  /* border: 2px solid red; */
  margin: 5px;
}
.filter-button-container,
.search-container {
  display: flex;
  /* border: 2px solid purple; */
}
.filter-button {
  border: none;
  padding: 3px 10px;
  margin: 0 3px;
  border-radius: 3px;
}
.filter-button-active {
  background: orange;
}
/* end of pre-carts */

/* footer */
.footer {
  grid-area: footer;
}
/* end of footer */

/* elementos generales */
h1 {
  font-family: Kanit;
  font-size: 30px;
  color: var(--text_color_dark);
}

p {
  color: var(--text_color_dark);
  font-size: 17.5px;
  font-family: Kanit;
  font-weight: 300;
}

/* end of elementos generales */

.hide {
  display: none;
}
