:root {
  --main_color_dark: rgba(32, 34, 49, 0.97);
  --icons_color_dark: rgba(255, 255, 255, 1);
  --text_color_dark: white;

  --seconday_color: rgb(255,165,0);
  --secondary_color_opacity: rgb(255,165,0,0.3);;


  --navbar_height: 60px;

  --mainTransition: all 0.3s linear;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Kanit;
}

/* body */

body {
  position: relative;
  background: var(--main_color_dark);
  display: grid;
  grid-template-rows: auto 100px auto auto 100px;
  grid-template-areas:
    "navbar"
    "."
    "pre-cards"
    "cards"
    "footer";
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/wallpaper.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: opacity(1);
  z-index: -1;
}

/* end of body */

/* temporal default area */

.defaultArea {
  color: white;
  background: var(--main_color_dark);
  font-size: 30px;
  display: grid;
  justify-content: center;
  align-content: center;
}

/* end of temporal default area */

/* navbar */

.navbar-container {
  grid-area: navbar;
  position: sticky;
  top: 0;
  height: var(--navbar_height);
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid blue; */
}

.title {
}

.cart-btn {
  /* le doy posicion relativa para que el hijo de pos 
  absoluta tenga de donde posicionarse correctamente. */
  position: relative;
}

.cart-items {
  position: absolute;
  background: var(--seconday_color);
  font-family: Kanit;
  font-size: 16px;
  font-weight: 500;
  width: 20px;
  height: 20px;
  padding: 2px;
  top: -11px;
  right: 8px;
  border-radius: 50%;
  color: var(--main_color_dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

/* end of navbar */

/* icons */

.material-icons-round.nav-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 0px 20px;
}

/* classes to adjust size from html */
.material-icons-round.md-18 {
  font-size: 18px;
}
.material-icons-round.md-24 {
  font-size: 24px;
}
.material-icons-round.md-30 {
  font-size: 30px;
}
.material-icons-round.md-36 {
  font-size: 36px;
}
.material-icons-round.md-48 {
  font-size: 48px;
}

/* icons style */
.material-icons-round {
  background: none;
  border: none;
  color: var(--icons_color_dark);
}

.material-icons-round:hover {
  color: var(--seconday_color);
}

/* this is to make an image(png) icon look like the material ones. */
/* used png because the picaxe icon is custom made. */
.icon-image {
  height: 21px;
  width: 21px;
  filter: invert(100%);
  position: relative;
  top: -4px;
}

/* filters generated to simulate the --seconday_color color. */
/* url of the tool: https://codepen.io/sosuke/pen/Pjoqqp */
.icon-image:hover {
  filter: invert(62%) sepia(83%) saturate(1066%) hue-rotate(357deg)
    brightness(98%) contrast(108%);
}
/* end of icons */

/* start of cart */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: var(--secondary_color_opacity);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: var(--main_color_dark);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  color: var(--text_color_dark);
}

.cart h3 {
  color: var(--text_color_dark);
}
/* end of cart */

/* precards */
#pre-cards {
  grid-area: pre-cards;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  /* border: 2px solid red; */
}

.selector-container {
    color: var(--text_color_dark);
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 550px){
  #pre-cards {
    flex-direction: column;
  }

  .selector-container{
    flex-direction: row;
  }
}


.selector-container h3{
  font-family: Kanit;
  color: var(--text_color_dark);
  font-size: 22px;
  padding: 0 5px;
}

.filter-button-container{

}
/* end of pre-carts */

/* footer */
#footer {
  grid-area: footer;
}
/* end of footer */

/* elementos generales */
h1 {
  font-family: Kanit;
  font-size: 30px;
  color: var(--text_color_dark);
}

p {
  color: var(--text_color_dark);
  font-size: 17.5px;
  font-family: Kanit;
  font-weight: 300;
}

/* end of elementos generales */

.show{
  display: none !important;
}
