:root {
  --color_main: ;
  --color_secondary: ;
  --color_dark: rgb(32, 34, 49);
  --footer_height: 200px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  /* font-family: Kanit; */
}

body {
  position: relative;
  background: var(--color_dark);
  display: grid;
  grid-template-rows: 100px 100px 100px auto 100px;
  grid-template-areas: "navbar"
                       "."
                       "pre-cards"
                       "cards"
                       "footer";
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/wallpaper.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: opacity(1);
  z-index: -1;
}

.defaultArea{
  color: white;
  background: var(--color_dark);
  font-size: 30px;
  display: grid;
  justify-content: center;
  align-content: center; 
}

#navbar{
  grid-area: navbar;
}

/* PRE-CARDS y CARDS en cards.css */

#footer {
  grid-area: footer;
}

/* ELEMENTOS GENERALES: */

h1{
  font-family: Kanit;
  font-size: 30px;
  color: white;
}

p{
  color: white;
  font-size: 20px;
  font-family: Kanit;
  font-weight: 300;
}

