/* CARDS */

:root {
  --card_width: 300px;
  --card_height: 500px;
}

.products-container {
  grid-area: cards;
  padding: 4rem 0;
  /* border: 2px solid purple; */
}

.products {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card_width), 1fr));
  align-items: center;
  justify-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
  /* border: 2px solid red; */
}

.card {
  /* La card se separa en dos partes principales: el image-container y el info-container.*/
  background: var(--main_color_dark);
  width: var(--card_width);
  height: var(--card_height);
  border-radius: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 225px 1fr;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
  box-shadow: -5px -5px 20px rgba(0, 0, 0, 1);
  /* border: 2px solid orange; */
  overflow: hidden;
}

.card-img-container {
  /* background: linear-gradient(45deg, orange, rgba(223, 122, 29, 0.8)); */
  background: var(--secondary_color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  /* border: 2px solid red; */
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.card-name {
  color: var(--main_color_dark);
  font-weight: 400;
  font-size: 35px;
  position: relative;
  top: 15px;
  right: 0px;
}

.card-image {
  /* que ocupe todo su contenedor. */
  width: 100%;
  height: 87%;
  filter: drop-shadow(-15px 5px 7px rgba(0, 0, 0, 0.4));
  position: relative;
  top: 5px;
  /* border: 2px solid red; */
  object-fit: contain;
}

.card-info-container {
  width: 100%;
  height: 100%;
  /* border: 2px solid green; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-header {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.brand {
  color: white;
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  font-family: Kanit;
  font-weight: 600;
  font-size: 25px;
}

.brand-icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 1px;
  left: -4px;
}

.AMD {
  color: rgba(255, 0, 0, 0.7);
}

.NVIDIA {
  color: rgba(127, 255, 0, 0.7);
}

.card-buttons-container {
}

.gaming-btn {
}

.mining-btn {
}

.card-gaming-container {
  /* border: 2px solid purple; */
}

.card-mining-container {
  /* border: 2px solid grey; */
}

.card-info-text {
  font-size: 17.5px;
  line-height: 18px;
}

.card-info-variable {
  color: rgba(255, 255, 255, 0.5);
}

.card-price {
  font-size: 23px;
}

.card-buy-container {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}

.buy-btn.material-icons-round {
  position: relative;
  font-size: 27.5px;
  /* border: 2px solid green; */
  display: flex;
}

.buy-text {
  position: relative;
  font-size: 21px;
  /* border: 2px solid yellow; */
}
/* end of cart */


/* start of notfound */
.not-found-container {
  background-color: var(--main_color_dark);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 320px;
  height: 180px;
}

.material-icons-round.not-found-icon {
  margin-top: 20px;
  font-size: 80px;
}

.not-found-text {
  font-size: 20px;
}
/* not found */


/* modal */
.modal-container {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  opacity: 0;
  display: none;
  transition: all 0.3s linear;
  background-color: var(--main_color_dark);
}
.modal {
  width: 90%;
  height: 80%;
  background-color: var(--main_color_dark);
  border-radius: 10px;
  position: absolute;
  /* border: 3px solid red; */
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-modal{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 35px;
}

.showModal {
  opacity: 1;
  display: flex;
  z-index: 5;
}
/* end of modal */
